<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <%= @article.text %>
  <% if @article.image? %>
    <%= image_tag @article.image.thumb.url %>
  <% end %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.categories %>
</p>

<p>
  <strong>Created by :</strong>
  <%= @article.createdBy %>
  
</p>
<%= if @article.createdBy == current_user.email  
	 link_to 'Edit |', edit_article_path(@article) 
 	end %> 
<%= link_to 'Back', articles_path %>
